# __*TP 2 - Préparation des données avec Python - Jeathusa*__

## **Objectif :**

Nettoyer le dataset `catnat_dirty.csv` et produire un fichier propre `catnat_clean.csv` prêt à être analysé dans Tableau.

<br>

## - __**Problèmes à résoudre**__
__**Le dataset contient volontairement :**__


- ~150 doublons
- Valeurs manquantes supplémentaires
- Incohérences de casse (Asia, ASIA, asia...)
- Espaces parasites
- Variantes d'orthographe (USA, US, United States...)
- `Start Year` en format texte avec erreurs ("2020 AD", "Year 2020")
- Outliers aberrants (décès négatifs, magnitude à 999)

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv("./data/raw/catnat_dirty.csv")

pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

In [3]:
df.head()

,DisNo.,Country,Region,Subregion,Disaster Type,Disaster Subtype,Disaster Subgroup,Event Name,Start Year,Start Month,Total Deaths,No. Injured,Total Affected,No. Homeless,Total Damage ('000 US$),Magnitude,Latitude,Longitude
0,2020-0121-IDN,Indonesia,Asia,South-eastern Asia,FLOOD,Flood (General),Hydrological,NaN,2020,3.0,1.0,NaN,56488.0,NaN,NaN,NaN,NaN,NaN
1,2008-0524-USA,United States of America,Americas,Northern America,WILDFIRE,Wildfire (General),Climatological,NaN,2008,11.0,NaN,20.0,55020.0,NaN,2000000.0,NaN,NaN,NaN
2,2015-0281-SLB,Solomon Islands,Oceania,Melanesia,storm,Tropical cyclone,Meteorological,Tropical cylone Raquel,2015,7.0,9.0,NaN,400.0,400.0,2000.0,NaN,NaN,NaN
3,2007-0274-KHM,Cambodia,Asia,South-eastern Asia,epidemic,Viral disease,Biological,Dengue,2007,7.0,182.0,NaN,17000.0,NaN,NaN,NaN,NaN,NaN
4,2008-0275-JPN,Japon,Asia,Eastern Asia,earthquake,Ground movement,Geophysical,NaN,2008,7.0,1.0,200.0,470.0,NaN,110000.0,6.8,39.802,141.464

<hr>

<br>
<br>

## __**Exercice 1 — Exploration et diagnostic**__

### **Rappel**
>
> Avant de modifier, toujours explorer :
>
> - `df.shape` → dimensions
> - `df.info()` → types et nulls
> - `df.describe()` → statistiques
> - `df.isnull().sum()` → comptage des nulls
> - `df.duplicated().sum()` → comptage des doublons
> - `df['col'].value_counts()` → valeurs uniques

<br>
<br>

### __*À faire*__

1. Affichez les dimensions du dataset
2. Affichez les types de données avec `info()`
3. Comptez les valeurs manquantes par colonne (nombre et pourcentage)
4. Comptez le nombre de doublons
5. Affichez les valeurs uniques de `Region` — repérez les incohérences
6. Affichez les statistiques de `Total Deaths` — repérez les anomalies

<br>
<br>

#### __*1. Affichez les dimensions du dataset*__

In [4]:
df.shape
print(f"Number de lignes: {df.shape[0]}")
print(f"Number de la columns: {df.shape[1]}")

Number de lignes: 17510
Number de la columns: 18

In [5]:
df.describe()

,Start Month,Total Deaths,No. Injured,Total Affected,No. Homeless,Total Damage ('000 US$),Magnitude,Latitude,Longitude
count,16599.000000,1.259300e+04,4.507000e+03,1.295100e+04,2.521000e+03,5.630000e+03,5.249000e+03,2821.000000,2821.000000
mean,6.442798,2.751663e+03,2.538213e+03,6.873218e+05,7.226349e+04,8.448720e+05,3.780406e+04,18.587746,39.675560
std,3.387116,6.577989e+04,3.230524e+04,7.343419e+06,5.158677e+05,5.077550e+06,2.331585e+05,21.591603,77.230791
min,1.000000,-3.600000e+04,1.000000e+00,1.000000e+00,3.000000e+00,2.000000e+00,-5.700000e+01,-72.640000,-178.252000
25%,4.000000,5.000000e+00,1.300000e+01,7.000000e+02,5.020000e+02,1.000000e+04,6.900000e+00,3.295000,0.710000
50%,7.000000,1.800000e+01,5.000000e+01,6.000000e+03,3.000000e+03,7.000000e+04,1.400000e+02,23.027000,49.780000
75%,9.000000,6.100000e+01,2.000000e+02,6.000000e+04,1.700000e+04,3.730000e+05,6.851660e+03,36.623000,102.680000
max,12.000000,3.700000e+06,1.800000e+06,3.300000e+08,1.585000e+07,2.100000e+08,1.302587e+07,67.930000,179.650000


#### __*2. Affichez les types de données avec `info()`*__

In [6]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 17510 entries, 0 to 17509
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   DisNo.                   17510 non-null  str
 1   Country                  17510 non-null  str
 2   Region                   17161 non-null  str
 3   Subregion                17510 non-null  str
 4   Disaster Type            17510 non-null  str
 5   Disaster Subtype         17510 non-null  str
 6   Disaster Subgroup        17510 non-null  str
 7   Event Name               3975 non-null   str
 8   Start Year               17510 non-null  str
 9   Start Month              16599 non-null  float64
 10  Total Deaths             12593 non-null  float64
 11  No. Injured              4507 non-null   float64
 12  Total Affected           12951 non-null  float64
 13  No. Homeless             2521 non-null   float64
 14  Total Damage ('000 US$)  5630 non-null   float64
 15  Magnitude                5249 non-null   float64
 16  Latitude                 2821 non-null   float64
 17  Longitude                2821 non-null   float64
dtypes: float64(9), str(9)
memory usage: 2.4 MB


#### __*3. Comptez les valeurs manquantes par colonne (nombre et pourcentage)*__

In [7]:
manquant = df.isnull().sum()
manquant_pourcentage = (manquant / len(df)) * 100
manquant_df = pd.DataFrame({"Manquant": manquant, "Pourcentage": manquant_pourcentage})
manquant_df["Pourcentage"] = manquant_df["Pourcentage"].round(2).astype(str) + "%"
print(manquant_df)

                         Manquant Pourcentage
DisNo.                          0        0.0%
Country                         0        0.0%
Region                        349       1.99%
Subregion                       0        0.0%
Disaster Type                   0        0.0%
Disaster Subtype                0        0.0%
Disaster Subgroup               0        0.0%
Event Name                  13535       77.3%
Start Year                      0        0.0%
Start Month                   911        5.2%
Total Deaths                 4917      28.08%
No. Injured                 13003      74.26%
Total Affected               4559      26.04%
No. Homeless                14989       85.6%
Total Damage ('000 US$)     11880      67.85%
Magnitude                   12261      70.02%
Latitude                    14689      83.89%
Longitude                   14689      83.89%

#### __*4. Comptez le nombre de doublons*__

In [8]:
n_doublons = df.duplicated().sum()
print(f"Nombre de doublons : {n_doublons}")

Nombre de doublons : 150

#### __*5. Affichez les valeurs uniques de `Region` - repérez les incohérences*__

In [9]:
raw_unique = df['Region'].dropna().unique()
print("Valeurs uniques (brutes):")
print(raw_unique)

Valeurs uniques (brutes):
<StringArray>
[     'Asia ',   'Americas',    'Oceania',       'Asia',       'ASIA',
 ' Americas ',     'Africa',    'Europe ',     'Europe',  ' Americas',
     'EUROPE',  'AMERICAS ',   'americas',   'AMERICAS',     ' Asia ',
    ' Africa',  'Americas ',       'asia',   ' Oceania',      'ASIA ',
    'oceania', ' americas ',      ' Asia',      'asia ',    'OCEANIA',
     'africa',     'AFRICA',     'europe',    'europe ', ' AMERICAS ',
  'americas ',  ' AMERICAS',   ' Europe ',    ' EUROPE',      ' ASIA',
   ' Africa ',  ' americas',    'africa ',      ' asia',    ' africa',
   ' AFRICA ',    'Africa ',    ' AFRICA',   'Oceania ',     ' asia ',
    'AFRICA ',   ' europe ',    'EUROPE ',    ' Europe',   ' africa ',
     ' ASIA ',    ' europe',  ' Oceania ',   'OCEANIA ',  ' OCEANIA ',
   ' EUROPE ',   'oceania ',   ' OCEANIA',  ' oceania ',   ' oceania']
Length: 60, dtype: str

In [53]:
print("\nComptage brut:\n")
print(df['Region'].value_counts(dropna=False))

Comptage brut:

Region
Asia        6817
Americas    4243
Africa      3142
Europe      2117
Oceania      695
Name: count, dtype: int64

<br>

__*- `J'ai fait test sur les variantes sur la colonne Region pour montrer les incohérences (espaces, casse, orthographe).`*__

In [11]:
norm = df['Region'].astype(str).str.strip().str.lower()
print("\nCompte (normalisé: strip + lower):")
print(norm.value_counts())

Compte (normalisé: strip + lower):
Region
asia        6881
americas    4283
africa      3169
europe      2131
oceania      697
Name: count, dtype: int64

#### __*6. Affichez les statistiques de `Total Deaths` - repérez les anomalies*__

In [12]:
totale_mort = df['Total Deaths'].describe()

print("\nStatistiques descriptives pour 'Total Deaths':\n")
print(totale_mort)

Statistiques descriptives pour 'Total Deaths':

count    1.259300e+04
mean     2.751663e+03
std      6.577989e+04
min     -3.600000e+04
25%      5.000000e+00
50%      1.800000e+01
75%      6.100000e+01
max      3.700000e+06
Name: Total Deaths, dtype: float64

 __**`- Comme on peut voir les valeurs min est -3.600000e+04, ce qui est anormal.`**__

In [13]:
# Valeurs négatives dans 'Total Deaths'
neg = df[df['Total Deaths'] < 0]
print("\nNombre de négatifs:", len(neg))
print("\nExemples de valeurs négatives:\n", neg[['Region', 'Total Deaths']].head())

Nombre de négatifs: 67

Exemples de valeurs négatives:
        Region  Total Deaths
33   Americas          -2.0
136    Africa         -30.0
293      Asia          -1.0
607     Asia          -21.0
754  Americas         -61.0

<br>

## __*Questions*__

**1. Combien y a-t-il de doublons ?**

* D'Après le résultat de `df.duplicated().sum()`, il y a 150 doublons dans le dataset.    
Le dataset contient 17510 lignes, 18 colonnes.

<br>

**2. Quelles colonnes ont le plus de valeurs manquantes ?**

* D'Après le résultat de `manquant = df.isnull().sum()`, les colonnes avec le plus de valeurs manquantes sont :
* No. Homeless                14989     -   (85.6%)
* Latitude                    14689   -    (83.89%)
* Longitude                   14689   -    (83.89%)
* Event Name                  13535    -    (77.3%)
* No. Injured                 13003   -    (74.26%)


<br>

**3. Combien de variantes différentes pour "Asia" ?**
* D'Après le résultat de `df['Region'].value_counts()`, il y a 3 variantes différentes pour "Asia" : "Asia", "ASIA", "asia" qui représentent respectivement 3754 occurences.

<br>

**4. Y a-t-il des valeurs négatives dans `Total Deaths` ?**
* D'Après le résultat de `df['Total Deaths'].describe()`, il y a des valeurs négatives dans `Total Deaths` avec une valeur minimum de -36000, ce qui est anormal pour ce type de données.

<br>

<br>
<hr>
<br>

## __*Exercice 2 — Suppression des doublons*__

> **Rappel**
>
> ```python
> # Identifier les doublons
> df[df.duplicated()]
> df[df.duplicated(keep=False)]  # Inclut les originaux
>
> # Supprimer les doublons
> df = df.drop_duplicates()
> df = df.drop_duplicates(subset=['col1', 'col2'])  # Sur certaines colonnes
> ```

<br>
<br>

### __*À faire*__

1. Affichez quelques lignes dupliquées pour vérifier
2. Supprimez les doublons exacts
3. Vérifiez que les doublons ont bien été supprimés

<br>
<br>


#### __*1. Affichez quelques lignes dupliquées pour vérifier**__

In [14]:
df[df.duplicated(keep=False)]

,DisNo.,Country,Region,Subregion,Disaster Type,Disaster Subtype,Disaster Subgroup,Event Name,Start Year,Start Month,Total Deaths,No. Injured,Total Affected,No. Homeless,Total Damage ('000 US$),Magnitude,Latitude,Longitude
27,1969-0071-IND,India,ASIA,Southern Asia,Storm,Tropical cyclone,Meteorological,NaN,1969,5.0,600000.0,NaN,260000.0,NaN,8330.0,NaN,NaN,NaN
125,2005-0583-USA,USA,americas,Northern America,Flood,Riverine flood,Hydrological,NaN,2005,10.0,11.0,NaN,3000.0,NaN,NaN,38290.00,NaN,NaN
322,1963-0055-BEL,Belgium,Europe,Western Europe,Extreme Temperature,Cold wave,Meteorological,NaN,1963,NaN,12.0,NaN,NaN,NaN,NaN,-22.00,NaN,NaN
371,2023-0510-MNG,Mongolia,Asia,Eastern Asia,Flood,Flash flood,Hydrological,NaN,2023,8.0,4.0,NaN,1230.0,NaN,NaN,NaN,NaN,NaN
456,1996-0226-CHN,China,Asia,Eastern Asia,Storm,Tropical cyclone,Meteorological,Willie,1996,9.0,38.0,NaN,NaN,NaN,100000.0,130.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17194,2023-0290-SLE,Sierra Leone,Africa,Sub-Saharan Africa,STORM,Storm (General),Meteorological,NaN,2023,5.0,15.0,17.0,17.0,NaN,NaN,NaN,NaN,NaN
17228,1997-0126-SLV,El Salvador,Americas,Latin America and the Caribbean,STORM,Tropical cyclone,Meteorological,Andres,1997,6.0,4.0,NaN,2000.0,2000.0,NaN,NaN,NaN,NaN
17339,2010-0053-PAK,Pakistan,ASIA,Southern Asia,Flood,Riverine flood,Hydrological,NaN,2010,2.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17410,2013-0286-USA,United States of America,Americas,Northern America,Flood,Riverine flood,Hydrological,NaN,2013,5.0,3.0,NaN,300.0,NaN,2000.0,33907.85,28.8990,-98.89
17413,2015-0226-IND,India,asia,Southern Asia,Mass movement (wet),Landslide (wet),Hydrological,NaN,2015,6.0,3.0,NaN,9000.0,NaN,NaN,NaN,26.9195,93.87

<br>
<br>

#### __*2. Supprimez les doublons exacts*__

In [15]:
df = df.drop_duplicates()

<br>
<br>

#### __*3. Vérifiez que les doublons ont bien été supprimés*__

In [16]:
n_doublons = df.duplicated().sum()
print(f"Nombre de doublons : {n_doublons}")

Nombre de doublons : 0

<br>
<hr>
<br>

## __**Exercice 3 — Correction des types**__

> **Rappel**
>
> ```python
> # Vérifier les types
> df.dtypes
>
> # Convertir en numérique (erreurs → NaN)
> df['col'] = pd.to_numeric(df['col'], errors='coerce')
>
> # Convertir en entier
> df['col'] = df['col'].astype(int)
>
> # Convertir en date
> df['col'] = pd.to_datetime(df['col'], errors='coerce')
> ```

```python
# petit hint...
dtype.name existe !

# AD signifie Anno Domini, elle correspond à la formule français après JC ...
```

<br>
<br>

### __*À faire*__

1. Vérifiez le type de `Start Year`
2. Affichez quelques valeurs problématiques (contenant "Year" ou "AD")
3. Nettoyez la colonne : supprimez le texte et convertissez en numérique
4. Vérifiez le résultat

<br>
<br>

#### __*1. Vérifiez le type de `Start Year`*__

In [17]:
print(f"Type de la colonne 'Start Year': {df['Start Year'].dtype}")

Type de la colonne 'Start Year': str

<br>
<br>

#### __*2. Affichez quelques valeurs problématiques (contenant "Year" ou "AD")*__

In [18]:
valeurs_problematiques = df[df['Start Year'].astype(str).str.contains("Year|AD", na=False)]
print("Exemples de valeurs problématiques :")
print(valeurs_problematiques[['Start Year']].head())

Exemples de valeurs problématiques :
    Start Year
26     1982 AD
138  Year 2012
480    2021 AD
506  Year 2017
634  Year 2003

<br>
<br>

#### __*3. Nettoyez la colonne : supprimez le texte et convertissez en numérique*__

In [19]:
# Supprimer les text chaînes de caractères "Year" et "AD"
df['Start Year'] = df['Start Year'].astype(str).str.replace(r'Year|AD', '', regex=True).str.strip()

# Convertir la colonne en numérique
df['Start Year'] = pd.to_numeric(df['Start Year'], errors='coerce')

<br>
<br>

#### __*4. Vérifiez le résultat*__

In [20]:
print(f"Nouveau type de la colonne 'Start Year': {df['Start Year'].dtype}")

# Vérification des valeurs textuelles restantes
valeurs_texte_restantes = df['Start Year'].apply(lambda x: isinstance(x, str)).sum()
print(f"Nombre de valeurs textuelles restantes : {valeurs_texte_restantes}")

print("\nValeurs de la colonne nettoyée :")
print(df['Start Year'].head())

Nouveau type de la colonne 'Start Year': int64
Nombre de valeurs textuelles restantes : 0

Valeurs de la colonne nettoyée :
0    2020
1    2008
2    2015
3    2007
4    2008
Name: Start Year, dtype: int64

<br>
<hr>
<br>

## __**Exercice 4 — Traitement des valeurs manquantes**__

> **Rappel**
>
> | Situation                               | Action                             |
> | --------------------------------------- | ---------------------------------- |
> | Peu de nulls, colonne critique          | Supprimer les lignes               |
> | Beaucoup de nulls, colonne non critique | Supprimer la colonne ou garder NaN |
> | Numérique, distribution asymétrique     | Imputer par médiane                |
> | Catégoriel                              | Imputer par mode ou "Inconnu"      |
>
> ```python
> df.dropna(subset=['col'])           # Supprimer lignes
> df['col'].fillna(valeur)            # Remplacer
> df['col'].fillna(df['col'].median())  # Médiane
> ```

<br>
<br>

### __**À faire**__

1. Pour `Region` (peu de nulls) : supprimez les lignes avec null
2. Pour `Event Name` : remplacez les nulls par "Non nommé"
3. Pour `Total Deaths` : décidez d'une stratégie et appliquez-la
4. Pour `Magnitude` : laissez les nulls (n'a pas de sens pour tous les types)
5. Vérifiez le résultat

<br>
<br>

#### __*1. Pour `Region` (peu de nulls) : supprimez les lignes avec null*__

In [21]:

print(f"Nombre de lignes dans 'Region': {len(df)}")
print(f"Nuls dans 'Region' : {df['Region'].isnull().sum()}")

Nombre de lignes dans 'Region': 17360
Nuls dans 'Region' : 346

In [22]:
# Suppression des lignes où Region est nulle
df.dropna(subset=['Region'], inplace=True)

In [23]:
# Après la suppression
print(f"Nombre de lignes après suppression: {len(df)}")
print(f"Nuls dans 'Region' après: {df['Region'].isnull().sum()}")

Nombre de lignes après suppression: 17014
Nuls dans 'Region' après: 0

<br>
<br>

#### __*2. Pour `Event Name` : remplacez les nulls par "Non nommé"*__

In [24]:
df['Event Name'].fillna('Non nommé', inplace=True)

C:\Users\jeath\AppData\Local\Temp\ipykernel_14876\3554683477.py:1: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  df['Event Name'].fillna('Non nommé', inplace=True)

0                       Non nommé
1                       Non nommé
2          Tropical cylone Raquel
3                          Dengue
4                       Non nommé
                   ...
17505                   Non nommé
17506     Tropical storm "Emily"
17507                   Non nommé
17508                   Non nommé
17509                   Non nommé
Name: Event Name, Length: 17014, dtype: str

<br>
<br>

#### __*3. Pour `Total Deaths` : décidez d'une stratégie et appliquez-la*__

In [25]:
# Calculer la médiane des décès
median_deaths = df['Total Deaths'].median()
print(f"La médiane des décès est : {median_deaths}")

# Remplacer les nuls par la médiane
df['Total Deaths'].fillna(median_deaths, inplace=True)

La médiane des décès est : 18.0

C:\Users\jeath\AppData\Local\Temp\ipykernel_14876\736382464.py:6: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  df['Total Deaths'].fillna(median_deaths, inplace=True)

0          1.0
1         18.0
2          9.0
3        182.0
4          1.0
         ...
17505     18.0
17506      3.0
17507      7.0
17508     50.0
17509     12.0
Name: Total Deaths, Length: 17014, dtype: float64

<br>
<br>

#### __*4. Pour `Magnitude` : laissez les nulls (n'a pas de sens pour tous les types)*__

In [26]:
print(df['Magnitude'].dtype)

float64

In [27]:
n_null = df['Magnitude'].isnull().sum()
print(f"Nulls: {n_null}/{len(df)} ({n_null/len(df)*100:.2f}%)")
print(df['Magnitude'].value_counts(dropna=False).head(10))

Nulls: 11929/17014 (70.11%)
Magnitude
NaN      11929
100.0       85
120.0       67
6.0         66
150.0       66
6.3         66
6.4         65
6.5         63
5.6         63
130.0       63
Name: count, dtype: int64

In [28]:
mag_num = pd.to_numeric(df['Magnitude'], errors='coerce')
print(mag_num.describe())

count    5.085000e+03
mean     3.788548e+04
std      2.355306e+05
min     -5.700000e+01
25%      6.900000e+00
50%      1.400000e+02
75%      6.800000e+03
max      1.302587e+07
Name: Magnitude, dtype: float64

__**`- Je l’ai laissé en `NaN` car, à mon avis personnel, la magnitude n’est pas pertinente pour tous les types d’événements, imputer une valeur introduirait une fausse précision. Cette décision est documentée et on peut ajouter une colonne indicatrice (`exemple:  has_magnitude;`) ou traiter séparément les événements avec magnitude.`**__

<br>
<br>

#### __*5. Vérifiez le résultat*__

In [29]:
print("Nombre de valeurs manquantes par colonne après traitement :")
print(df.isnull().sum())

Nombre de valeurs manquantes par colonne après traitement :
DisNo.                         0
Country                        0
Region                         0
Subregion                      0
Disaster Type                  0
Disaster Subtype               0
Disaster Subgroup              0
Event Name                 13139
Start Year                     0
Start Month                  890
Total Deaths                4774
No. Injured                12643
Total Affected              4441
No. Homeless               14570
Total Damage ('000 US$)    11540
Magnitude                  11929
Latitude                   14289
Longitude                  14289
dtype: int64

<br>
<hr>
<br>

## __**Exercice 5 — Traitement des outliers**__

> **Rappel**
>
> Deux questions :
>
> 1. Est-ce une erreur ? → Corriger ou supprimer
> 2. Est-ce une valeur extrême réelle ? → Garder (ou analyser séparément)
>
> ```python
> # Valeurs impossibles
> df[df['col'] < 0]
> df[df['col'] > seuil_max]
>
> # Supprimer
> df = df[df['col'] >= 0]
>
> # Capper
> df['col'] = df['col'].clip(lower=0, upper=max_val)
> ```

<br>
<br>

### __*À faire*__

1. Identifiez les valeurs négatives dans `Total Deaths`
2. Identifiez les valeurs aberrantes dans `Magnitude` (> 10)
3. Décidez : supprimer ou corriger ?
4. Appliquez le traitement
5. Vérifiez le résultat

<br>
<br>

#### __*1. Identifiez les valeurs négatives dans `Total Deaths`*__

In [30]:
print((df['Total Deaths'] < 0).sum())
print(df[df['Total Deaths'] < 0][['Event Name','Region','Total Deaths']].head())

65
    Event Name    Region  Total Deaths
33     Isidore  Americas          -2.0
136        NaN    Africa         -30.0
293        NaN      Asia          -1.0
607        NaN     Asia          -21.0
754        NaN  Americas         -61.0

<br>
<br>

#### __*2. Identifiez les valeurs aberrantes dans `Magnitude` (> 10)*__

In [31]:
mag = pd.to_numeric(df['Magnitude'], errors='coerce')
print((mag > 10).sum())
print(df[mag > 10][['Disaster Type','Event Name','Magnitude']].head())

3364
   Disaster Type Event Name  Magnitude
5          flood        NaN   365800.0
32         Flood        NaN      200.0
34      Wildfire        NaN     1320.0
40         Flood        NaN   444500.0
42         STORM        NaN      180.0

<br>
<br>

#### __*3. Décidez : supprimer ou corriger ?*__

**Décès négatifs :**
Ces valeurs sont mathématiquement et logiquement impossibles (on ne peut pas avoir un nombre de morts négatif). Il s'agit clairement d'erreurs de saisie. `Plutôt que de supprimer ces lignes et perdre d'autres informations utiles (région, type de catastrophe, magnitude), j'ai choisi de les remplacer par NaN`, puis de les imputer avec la médiane. La médiane est préférable à la moyenne car elle est robuste aux valeurs extrêmes et ne distorsionne pas la distribution des données en cas de valeurs aberrantes.

<br>

**Magnitudes > 10 ou = 999 :**
Une magnitude supérieure à 10 est physiquement impossible. La valeur 999 est clairement un code d'erreur. Ces données sont inutilisables pour l'analyse. Cependant, `j'ai remplacé ces valeurs par NaN plutôt que de supprimer les lignes entières, car les autres variables (région, date, nombre de morts) restent valides et exploitables`. Cela maximise la rétention d'informations tout en garantissant la qualité de l'analyse.

<br>

`En résumé : Ces choix visent à concilier qualité des données et conservation d'informations utiles.`

<br>
<br>

#### __*4. Appliquez le traitement*__

In [32]:
# Identification et remplacement les décès négatifs par NaN
print("Décès négatifs détectés :", (df['Total Deaths'] < 0).sum())
df.loc[df['Total Deaths'] < 0, 'Total Deaths'] = np.nan

# Imputer avec la médiane
median_deaths = df['Total Deaths'].median()
df['Total Deaths'].fillna(median_deaths, inplace=True)
print(f"Imputés avec la médiane : {median_deaths}")
print(f"Décès négatifs restants : {(df['Total Deaths'] < 0).sum()}\n")

Décès négatifs détectés : 65
Imputés avec la médiane : 18.0
Décès négatifs restants : 0

C:\Users\jeath\AppData\Local\Temp\ipykernel_14876\2847685292.py:7: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  df['Total Deaths'].fillna(median_deaths, inplace=True)

In [33]:

mag = pd.to_numeric(df['Magnitude'], errors='coerce')

# Identifier les magnitudes > 10 ou == 999
print("Magnitudes > 10 détectées :", (mag > 10).sum())
print("Magnitudes == 999 détectées :", (df['Magnitude'] == 999).sum())

# Remplacement par NaN
df.loc[(mag > 10) | (df['Magnitude'] == 999), 'Magnitude'] = np.nan

print(f"Magnitudes invalides remplacées par NaN")
print(f"Magnitudes > 10 restantes : {(pd.to_numeric(df['Magnitude'], errors='coerce') > 10).sum()}\n")

Magnitudes > 10 détectées : 3364
Magnitudes == 999 détectées : 22
Magnitudes invalides remplacées par NaN
Magnitudes > 10 restantes : 0

<br>
<br>

#### __*5. Vérifiez le résultat*__

In [34]:
print("État final du dataset :")
print(f"Décès manquants (NaN) : {df['Total Deaths'].isna().sum()}")
print(f"Magnitudes manquantes (NaN) : {df['Magnitude'].isna().sum()}")
print(f"Forme du dataset : {df.shape}")

État final du dataset :
Décès manquants (NaN) : 4839
Magnitudes manquantes (NaN) : 15293
Forme du dataset : (17014, 18)

<br>
<hr>
<br>

## __**Exercice 6 — Nettoyage du texte**__

> **Rappel**
>
> ```python
> # Casse
> df['col'].str.lower()
> df['col'].str.upper()
> df['col'].str.title()
>
> # Espaces
> df['col'].str.strip()
>
> # Remplacement
> df['col'].replace({'old': 'new'})
>
> # Pipeline complet
> df['col'] = df['col'].str.strip().str.lower()
> ```

### __*À faire*__

1. Nettoyez `Region` : strip + title case
2. Vérifiez avec `value_counts()` — combien de catégories maintenant ?
3. Nettoyez `Disaster Type` de la même manière
4. Nettoyez `Country` : strip + title case
5. Corrigez les variantes de pays (USA → United States, etc.)

<br>
<br>

#### __*1. Nettoyez `Region` : strip + title case*__

In [35]:
df['Region'] = df['Region'].astype(str).str.strip().str.title()

<br>
<br>

#### __*2. Vérifiez avec `value_counts()` — combien de catégories maintenant ?*__

In [36]:
print(df['Region'].value_counts())
print("\n\nRegion après nettoyage :")
print(f"Nombre de catégories uniques : {df['Region'].nunique()}\n")

Region
Asia        6817
Americas    4243
Africa      3142
Europe      2117
Oceania      695
Name: count, dtype: int64


Region après nettoyage :
Nombre de catégories uniques : 5

<br>
<br>

#### __*3. Nettoyez `Disaster Type` de la même manière*__

In [37]:
df['Disaster Type'] = df['Disaster Type'].astype(str).str.strip().str.title()
print(df['Disaster Type'].value_counts().head())

Disaster Type
Flood                  5945
Storm                  4790
Earthquake             1584
Epidemic               1488
Mass Movement (Wet)     836
Name: count, dtype: int64

<br>
<br>

#### __*4. Nettoyez `Country` : strip + title case*__

* Comme j'ai eu des valeurs incohérentes lors de l'analyse du tableau, j'ai remarqué qu'il y avait plusieurs variantes sur les pays, donc j'ai effectué une détection des différentes variantes.

In [38]:
from collections import defaultdict



# Détecte les variantes brutes dans la colonne Country.
def detecter_variantes_country(df, colonne='Country'):
    groups = defaultdict(list)

    for val in df[colonne].dropna().unique():
        key = val.strip().lower()
        groups[key].append(val)

    avec_variantes = {k: v for k, v in groups.items() if len(v) > 1}

    print(f"Valeurs brutes uniques  : {df[colonne].nunique()}")
    print(f"Groupes avec variantes  : {len(avec_variantes)}\n")

    for key, variants in sorted(avec_variantes.items()):
        counts = [f"'{v}' ({df[colonne].eq(v).sum()})" for v in variants]
        print(f"  {key!r:30} =====> {counts}")



detecter_variantes_country(df)

Valeurs brutes uniques  : 1119
Groupes avec variantes  : 220

  'afghanistan'                  =====> ["'Afghanistan' (167)", "' Afghanistan ' (12)", "' Afghanistan' (14)", "'Afghanistan ' (20)", "'afghanistan' (3)", "' afghanistan ' (1)", "'AFGHANISTAN' (2)"]
  'albania'                      =====> ["'Albania' (34)", "' ALBANIA' (1)", "'Albania ' (4)", "' Albania' (4)", "'albania' (1)", "' Albania ' (1)"]
  'algeria'                      =====> ["'Algeria' (77)", "' Algeria ' (5)", "'ALGERIA' (2)", "'Algeria ' (5)", "' Algeria' (1)"]
  'angola'                       =====> ["'Angola' (51)", "' Angola' (7)", "'Angola ' (7)", "'ANGOLA' (1)", "'angola' (2)", "' Angola ' (2)", "' angola' (1)"]
  'anguilla'                     =====> ["'Anguilla' (10)", "' Anguilla ' (1)"]
  'antigua and barbuda'          =====> ["'Antigua and Barbuda' (9)", "' Antigua and Barbuda' (1)", "'Antigua and Barbuda ' (2)"]
  'argentina'                    =====> ["'Argentina' (101)", "' Argentina' (9)", "'Argentina ' (11)", "' Argentina ' (8)", "'ARGENTINA' (1)", "'argentina' (1)", "' ARGENTINA' (1)"]
  'armenia'                      =====> ["'Armenia' (11)", "'armenia' (1)", "' Armenia' (1)", "'Armenia ' (1)"]
  'australia'                    =====> ["'Australia' (173)", "' Australia ' (14)", "'australia' (2)", "'AUSTRALIA ' (1)", "' Australia' (17)", "'AUSTRALIA' (4)", "'Australia ' (8)", "' australia' (1)"]
  'austria'                      =====> ["'Austria' (44)", "'Austria ' (6)", "' Austria ' (3)", "' Austria' (3)"]
  'azerbaijan'                   =====> ["'Azerbaijan' (11)", "' Azerbaijan' (2)", "'Azerbaijan ' (2)"]
  'azores islands'               =====> ["'Azores Islands' (5)", "'Azores Islands ' (1)"]
  'bahamas'                      =====> ["'Bahamas' (22)", "'bahamas' (1)", "' Bahamas' (4)", "' Bahamas ' (1)"]
  'bangladesh'                   =====> ["'Bangladesh' (216)", "'Bangladesh ' (20)", "' BANGLADESH ' (1)", "'BANGLADESH' (4)", "' Bangladesh ' (15)", "'bangladesh' (2)", "' Bangladesh' (23)", "' bangladesh' (1)", "'BANGLADESH ' (1)"]
  'barbados'                     =====> ["'Barbados' (11)", "'Barbados ' (1)", "' Barbados' (3)"]
  'belarus'                      =====> ["'Belarus' (12)", "'Belarus ' (2)", "' Belarus' (1)"]
  'belgium'                      =====> ["'Belgium' (52)", "'Belgium ' (4)", "' Belgium ' (6)", "' Belgium' (4)", "'BELGIUM ' (1)", "'BELGIUM' (1)", "' BELGIUM' (1)"]
  'belize'                       =====> ["'Belize' (19)", "' Belize ' (1)", "'BELIZE' (1)", "' Belize' (1)", "'Belize ' (1)"]
  'benin'                        =====> ["' Benin ' (6)", "'Benin' (40)", "' Benin' (3)", "' BENIN ' (1)", "'benin ' (1)", "'Benin ' (2)", "' benin ' (1)", "' benin' (1)"]
  'bermuda'                      =====> ["'Bermuda ' (2)", "'Bermuda' (2)", "'bermuda' (1)"]
  'bhutan'                       =====> ["'Bhutan' (10)", "'Bhutan ' (1)", "' Bhutan ' (1)"]
  'bolivia (plurinational state of)' =====> ["'Bolivia (Plurinational State of)' (88)", "' Bolivia (Plurinational State of) ' (6)", "' Bolivia (Plurinational State of)' (9)", "'Bolivia (Plurinational State of) ' (6)", "'bolivia (plurinational state of) ' (1)", "'BOLIVIA (PLURINATIONAL STATE OF)' (1)", "'bolivia (plurinational state of)' (1)", "' Bolivia (Plurinational State Of) ' (1)"]
  'bosnia and herzegovina'       =====> ["'Bosnia and Herzegovina' (18)", "' Bosnia and Herzegovina ' (5)", "' Bosnia and Herzegovina' (3)", "'Bosnia and Herzegovina ' (3)", "' BOSNIA AND HERZEGOVINA' (1)"]
  'botswana'                     =====> ["'Botswana' (21)", "'Botswana ' (2)", "' Botswana' (2)"]
  'brazil'                       =====> ["'Brazil' (181)", "' Brazil ' (18)", "'Brazil ' (8)", "' Brazil' (13)", "'brazil' (6)", "'BRAZIL' (1)"]
  'british virgin islands'       =====> ["'British Virgin Islands' (2)", "'British Virgin Islands ' (1)"]
  'bulgaria'                     =====> ["'Bulgaria' (35)", "' bulgaria' (1)", "' Bulgaria ' (3)", "'Bulgaria ' (7)", "' Bulgaria' (5)", "'BULGARIA' (1)"]
  'burkina faso'                 =====> ["'Burkina Faso' (40)", "'Burkina Faso ' (2)", "' Burkina Faso ' (7)", "'burkina faso' (2)", "' Burkina Faso' (7)", "'BURKINA FASO' (1)"]
  'burundi'                      =====> ["'Burundi' (45)", "'Burundi ' (6)", "' Burundi' (8)", "' Burundi ' (4)", "'BURUNDI' (1)"]
  'cabo verde'                   =====> ["'Cabo Verde' (22)", "'Cabo Verde ' (1)", "' Cabo Verde' (1)"]
  'cambodia'                     =====> ["'Cambodia ' (6)", "'Cambodia' (34)", "' Cambodia' (3)", "'CAMBODIA' (1)", "' cambodia' (1)", "' Cambodia ' (2)", "'cambodia' (1)"]
  'cameroon'                     =====> ["'Cameroon' (51)", "' Cameroon' (7)", "'Cameroon ' (1)", "' Cameroon ' (1)", "'cameroon' (1)"]
  'canada'                       =====> ["'Canada' (122)", "' Canada' (13)", "'Canada ' (12)", "'CANADA' (2)", "'CANADA ' (1)", "' Canada ' (3)", "'canada' (1)"]
  'canary islands'               =====> ["'Canary Islands' (7)", "' Canary Islands ' (1)", "'Canary Islands ' (1)"]
  'cayman islands'               =====> ["' Cayman Islands ' (1)", "'Cayman Islands' (6)"]
  'central african republic'     =====> ["'Central African Republic' (31)", "'Central African Republic ' (4)", "' Central African Republic' (5)", "' central african republic ' (1)", "' Central African Republic ' (3)", "'central african republic' (1)"]
  'chad'                         =====> ["'Chad' (50)", "'Chad ' (5)", "' Chad ' (9)", "' Chad' (2)", "'chad' (1)"]
  'chile'                        =====> ["'Chile' (88)", "'Chile ' (9)", "'CHILE' (1)", "' Chile ' (11)", "' Chile' (11)", "' CHILE' (1)", "'chile' (2)"]
  'china'                        =====> ["'China' (601)", "' China' (66)", "'CHINA ' (2)", "'china' (12)", "'China ' (63)", "'CHINA' (59)", "' China ' (47)", "' CHINA ' (1)", "' CHINA' (2)", "'china ' (1)"]
  'china, hong kong special administrative region' =====> ["'China, Hong Kong Special Administrative Region' (76)", "' China, Hong Kong Special Administrative Region' (4)", "'CHINA, HONG KONG SPECIAL ADMINISTRATIVE REGION' (2)", "' China, Hong Kong Special Administrative Region ' (9)", "'china, hong kong special administrative region ' (1)", "'China, Hong Kong Special Administrative Region ' (9)", "'china, hong kong special administrative region' (3)"]
  'china, macao special administrative region' =====> ["'China, Macao Special Administrative Region' (4)", "' China, Macao Special Administrative Region ' (1)", "' China, Macao Special Administrative Region' (1)"]
  'colombia'                     =====> ["'Colombia' (183)", "' Colombia' (18)", "'colombia ' (1)", "' Colombia ' (13)", "'COLOMBIA' (2)", "'Colombia ' (12)", "'colombia' (3)"]
  'comoros'                      =====> ["'COMOROS' (2)", "'Comoros' (17)", "'Comoros ' (3)", "' Comoros' (1)", "' Comoros ' (1)"]
  'congo'                        =====> ["'Congo' (29)", "'Congo ' (1)", "' Congo' (4)", "' Congo ' (1)", "'CONGO' (1)"]
  'cook islands'                 =====> ["'Cook Islands' (9)", "'Cook Islands ' (1)"]
  'costa rica'                   =====> ["'Costa Rica' (58)", "' Costa Rica' (8)", "' Costa Rica ' (4)", "'Costa Rica ' (4)", "'COSTA RICA' (2)"]
  'croatia'                      =====> ["'Croatia' (25)", "' Croatia' (5)", "'CROATIA' (2)", "'Croatia ' (1)", "' Croatia ' (2)"]
  'cuba'                         =====> ["'Cuba' (70)", "' Cuba ' (7)", "' Cuba' (9)", "'Cuba ' (4)", "'cuba' (1)"]
  'cyprus'                       =====> ["'Cyprus' (10)", "'Cyprus ' (3)", "' Cyprus ' (2)", "' Cyprus' (2)"]
  'czechia'                      =====> ["'czechia' (1)", "'Czechia' (25)", "'Czechia ' (5)", "' Czechia' (3)", "' Czechia ' (1)"]
  'czechoslovakia'               =====> ["'Czechoslovakia' (7)", "' Czechoslovakia' (1)", "'CZECHOSLOVAKIA ' (1)"]
  'côte d’ivoire'                =====> ["'Côte d’Ivoire' (25)", "'CÔTE D’IVOIRE' (1)", "' Côte d’Ivoire ' (1)", "' Côte d’Ivoire' (3)"]
  "democratic people's republic of korea" =====> ["'Democratic People's Republic of Korea' (34)", "'DEMOCRATIC PEOPLE'S REPUBLIC OF KOREA ' (1)", "'Democratic People'S Republic Of Korea' (1)", "' Democratic People's Republic of Korea' (4)", "'Democratic People's Republic of Korea ' (4)", "'DEMOCRATIC PEOPLE'S REPUBLIC OF KOREA' (1)"]
  'democratic republic of the congo' =====> ["'Democratic Republic of the Congo' (114)", "'Democratic Republic of the Congo ' (14)", "' Democratic Republic of the Congo' (7)", "' Democratic Republic of the Congo ' (9)", "' Democratic Republic Of The Congo ' (1)", "'Democratic Republic Of The Congo' (2)", "'DEMOCRATIC REPUBLIC OF THE CONGO' (1)", "' DEMOCRATIC REPUBLIC OF THE CONGO' (1)"]
  'denmark'                      =====> ["'Denmark' (11)", "'Denmark ' (1)", "' Denmark' (3)", "' Denmark ' (1)", "'DENMARK' (2)", "'denmark' (1)"]
  'djibouti'                     =====> ["'Djibouti ' (4)", "'Djibouti' (19)", "' Djibouti ' (1)", "'DJIBOUTI' (1)", "'djibouti ' (1)"]
  'dominica'                     =====> ["'Dominica' (10)", "' Dominica' (2)", "' Dominica ' (1)", "'Dominica ' (1)"]
  'dominican republic'           =====> ["' Dominican Republic' (6)", "'Dominican Republic' (68)", "'Dominican Republic ' (8)", "' DOMINICAN REPUBLIC ' (1)", "' Dominican Republic ' (3)", "'dominican republic ' (1)"]
  'ecuador'                      =====> ["'Ecuador' (96)", "'ecuador' (3)", "'ECUADOR' (3)", "'Ecuador ' (6)", "' Ecuador' (8)", "' Ecuador ' (3)"]
  'egypt'                        =====> ["'Egypt' (23)", "'Egypt ' (3)", "' Egypt ' (2)", "' EGYPT ' (1)", "' Egypt' (2)", "'egypt' (1)"]
  'el salvador'                  =====> ["'El Salvador' (61)", "'El Salvador ' (5)", "' el salvador ' (1)", "' El Salvador' (2)", "' El Salvador ' (2)", "'el salvador' (1)"]
  'eritrea'                      =====> ["'Eritrea ' (1)", "'Eritrea' (6)", "' Eritrea ' (1)"]
  'estonia'                      =====> ["'Estonia' (5)", "'Estonia ' (1)"]
  'eswatini'                     =====> ["'Eswatini' (16)", "' Eswatini' (1)", "' Eswatini ' (1)"]
  'ethiopia'                     =====> ["'ethiopia' (2)", "' Ethiopia' (9)", "'Ethiopia' (93)", "'Ethiopia ' (13)", "' ethiopia' (1)", "' Ethiopia ' (9)", "' ETHIOPIA' (1)", "'ETHIOPIA' (1)", "'ETHIOPIA ' (1)"]
  'fiji'                         =====> ["'Fiji' (44)", "' Fiji' (6)", "'fiji' (2)", "'FIJI' (2)", "'Fiji ' (4)"]
  'finland'                      =====> ["'Finland' (4)", "' Finland ' (1)"]
  'france'                       =====> ["'France' (144)", "'france' (5)", "'France ' (23)", "' France ' (16)", "' France' (13)", "' france' (1)", "'FRANCE' (2)", "'FRANCE ' (1)", "'france ' (1)"]
  'french guiana'                =====> ["'French Guiana' (2)", "'French Guiana ' (1)"]
  'french polynesia'             =====> ["'French Polynesia' (7)", "' French Polynesia' (1)"]
  'gabon'                        =====> ["'Gabon' (11)", "' Gabon' (2)", "'Gabon ' (1)", "'gabon ' (1)"]
  'gambia'                       =====> ["'Gambia' (23)", "' Gambia' (3)", "' Gambia ' (5)", "'GAMBIA' (2)", "'Gambia ' (1)"]
  'georgia'                      =====> ["'Georgia' (20)", "' Georgia ' (3)", "'Georgia ' (2)", "' Georgia' (2)"]
  'german democratic republic'   =====> ["' German Democratic Republic ' (1)", "'German Democratic Republic ' (1)", "'German Democratic Republic' (1)"]
  'germany'                      =====> ["'Germany' (67)", "' Germany ' (4)", "' Germany' (6)", "'GERMANY' (1)", "'Germany ' (4)"]
  'germany federal republic'     =====> ["' Germany Federal Republic' (3)", "'Germany Federal Republic' (17)"]
  'ghana'                        =====> ["' Ghana' (7)", "'Ghana' (36)", "' Ghana ' (6)", "'ghana' (1)", "'Ghana ' (5)", "' ghana ' (1)"]
  'greece'                       =====> ["' Greece' (8)", "'Greece ' (12)", "'Greece' (80)", "'greece' (3)", "' Greece ' (5)", "'GREECE ' (1)"]
  'grenada'                      =====> ["'Grenada' (8)", "' Grenada ' (1)", "'Grenada ' (1)"]
  'guadeloupe'                   =====> ["'Guadeloupe' (12)", "'Guadeloupe ' (3)", "' Guadeloupe ' (2)"]
  'guam'                         =====> ["'Guam' (9)", "' Guam' (2)"]
  'guatemala'                    =====> ["'Guatemala' (99)", "'Guatemala ' (10)", "' Guatemala' (13)", "'guatemala' (1)", "' Guatemala ' (6)", "'guatemala ' (1)"]
  'guinea'                       =====> ["' Guinea' (1)", "'Guinea' (35)", "'Guinea ' (1)", "'GUINEA' (1)"]
  'guinea-bissau'                =====> ["'Guinea-Bissau' (19)", "' Guinea-Bissau' (3)", "'Guinea-Bissau ' (3)"]
  'guyana'                       =====> ["'Guyana' (9)", "' Guyana' (2)", "'Guyana ' (1)"]
  'haiti'                        =====> ["'Haiti' (100)", "'HAITI ' (1)", "' Haiti' (10)", "'Haiti ' (14)", "'HAITI' (1)", "' Haiti ' (7)", "'haiti' (4)", "' HAITI ' (1)", "'haiti ' (1)"]
  'honduras'                     =====> ["'Honduras' (69)", "' Honduras ' (9)", "'Honduras ' (9)", "' Honduras' (6)", "'HONDURAS' (4)", "'honduras ' (1)"]
  'hungary'                      =====> ["' Hungary ' (4)", "'Hungary ' (2)", "'Hungary' (25)", "' Hungary' (2)"]
  'iceland'                      =====> ["' Iceland' (4)", "'Iceland' (9)", "' Iceland ' (1)", "'Iceland ' (1)"]
  'india'                        =====> ["' India' (51)", "'India' (487)", "'INDIA' (86)", "'India ' (44)", "'india' (11)", "' india' (1)", "' India ' (28)", "' INDIA' (1)", "' india ' (1)", "'INDIA ' (1)"]
  'indonesia'                    =====> ["' Indonesia' (50)", "'Indonesia' (375)", "'Indonesia ' (38)", "'INDONESIA' (66)", "' Indonesia ' (27)", "' indonesia' (1)", "'indonesia' (2)", "' INDONESIA ' (1)"]
  'iran  (islamic  republic  of)' =====> ["'iran  (islamic  republic  of)' (2)", "'Iran  (Islamic  Republic  of)' (8)"]
  'iran (islamic republic of)'   =====> ["'Iran (Islamic Republic of)' (188)", "'Iran (Islamic Republic Of)' (3)", "'Iran (Islamic Republic of) ' (20)", "' Iran (Islamic Republic of)' (22)", "'IRAN (ISLAMIC REPUBLIC OF)' (2)", "' Iran (Islamic Republic of) ' (9)", "'iran (islamic republic of)' (4)", "' IRAN (ISLAMIC REPUBLIC OF)' (1)", "'Iran (Islamic Republic Of) ' (1)"]
  'iraq'                         =====> ["'Iraq' (20)", "' Iraq' (5)", "'iraq ' (1)", "'Iraq ' (2)", "' Iraq ' (3)"]
  'ireland'                      =====> ["'Ireland' (20)", "'Ireland ' (3)", "' Ireland' (1)", "' Ireland ' (2)", "' IRELAND' (1)"]
  'israel'                       =====> ["' Israel' (2)", "'Israel' (18)", "'Israel ' (1)"]
  'italy'                        =====> ["'Italy' (133)", "' Italy' (17)", "'ITALY' (6)", "'Italy ' (14)", "' Italy ' (10)", "'italy' (2)", "'ITALY ' (1)"]
  'jamaica'                      =====> ["' Jamaica ' (5)", "' Jamaica' (6)", "'Jamaica' (36)", "'Jamaica ' (10)"]
  'japan'                        =====> ["'Japan' (229)", "'JAPAN' (47)", "'Japan ' (24)", "' Japan ' (23)", "' Japan' (17)", "'japan' (4)", "'japan ' (1)", "' JAPAN' (1)", "'JAPAN ' (1)"]
  'jordan'                       =====> ["'Jordan' (10)", "' Jordan' (4)", "' Jordan ' (3)", "'jordan' (1)"]
  'kazakhstan'                   =====> ["' Kazakhstan' (3)", "'Kazakhstan' (20)", "'KAZAKHSTAN' (2)", "'Kazakhstan ' (2)"]
  'kenya'                        =====> ["'Kenya' (95)", "'Kenya ' (8)", "' Kenya' (11)", "' Kenya ' (8)", "'KENYA' (4)"]
  'kiribati'                     =====> ["'Kiribati ' (1)", "'Kiribati' (3)", "' Kiribati' (1)"]
  'kuwait'                       =====> ["'Kuwait' (1)", "' Kuwait' (1)"]
  'kyrgyzstan'                   =====> ["' Kyrgyzstan ' (6)", "'Kyrgyzstan' (26)", "'KYRGYZSTAN' (1)", "'kyrgyzstan' (1)", "' Kyrgyzstan' (2)", "'Kyrgyzstan ' (1)"]
  "lao people's democratic republic" =====> ["'Lao People's Democratic Republic' (34)", "' Lao People's Democratic Republic ' (4)", "' Lao People's Democratic Republic' (5)", "'Lao People's Democratic Republic ' (5)", "'Lao People'S Democratic Republic' (1)"]
  'latvia'                       =====> ["'Latvia' (7)", "' Latvia ' (2)", "' Latvia' (3)"]
  'lebanon'                      =====> ["'Lebanon' (13)", "'Lebanon ' (1)", "' Lebanon' (2)", "' Lebanon ' (1)"]
  'lesotho'                      =====> ["' Lesotho' (3)", "'Lesotho ' (2)", "'Lesotho' (17)", "'LESOTHO ' (1)", "' Lesotho ' (2)"]
  'liberia'                      =====> ["'Liberia' (17)", "'Liberia ' (2)", "'liberia' (1)", "' LIBERIA ' (1)", "' Liberia' (1)"]
  'libya'                        =====> ["'Libya' (5)", "'Libya ' (1)", "'LIBYA' (1)"]
  'lithuania'                    =====> ["'Lithuania' (13)", "' Lithuania ' (2)", "'Lithuania ' (1)"]
  'luxembourg'                   =====> ["'Luxembourg' (9)", "' Luxembourg' (4)", "' Luxembourg ' (1)", "'Luxembourg ' (1)"]
  'madagascar'                   =====> ["'Madagascar' (75)", "'Madagascar ' (9)", "' Madagascar ' (9)", "' Madagascar' (8)", "'MADAGASCAR' (2)", "'madagascar' (1)", "'MADAGASCAR ' (1)", "' MADAGASCAR ' (1)"]
  'malawi'                       =====> ["'malawi' (3)", "'Malawi' (66)", "'Malawi ' (5)", "' Malawi ' (4)", "' Malawi' (6)", "' MALAWI' (1)"]
  'malaysia'                     =====> ["'Malaysia' (92)", "' Malaysia' (7)", "'Malaysia ' (3)", "' Malaysia ' (5)", "'MALAYSIA' (1)", "'malaysia' (1)"]
  'maldives'                     =====> ["'Maldives' (6)", "'Maldives ' (1)", "' Maldives' (1)"]
  'mali'                         =====> ["'Mali' (49)", "' MALI' (1)", "' Mali' (6)", "' Mali ' (4)", "'Mali ' (3)", "'MALI ' (1)"]
  'malta'                        =====> ["' Malta' (1)", "'Malta ' (1)"]
  'marshall islands'             =====> ["'Marshall Islands' (6)", "' Marshall Islands ' (2)", "' Marshall Islands' (1)"]
  'martinique'                   =====> ["'martinique' (1)", "'Martinique ' (1)", "'Martinique' (14)", "' Martinique ' (2)"]
  'mauritania'                   =====> ["'Mauritania' (33)", "'Mauritania ' (5)", "' Mauritania ' (3)", "' Mauritania' (4)", "'mauritania' (1)", "'MAURITANIA' (2)"]
  'mauritius'                    =====> ["'Mauritius' (20)", "'Mauritius ' (2)", "' Mauritius ' (1)", "' Mauritius' (1)"]
  'mexico'                       =====> ["' Mexico ' (21)", "'Mexico' (221)", "' Mexico' (21)", "'Mexico ' (27)", "'MEXICO' (3)", "'MEXICO ' (1)", "'mexico' (4)"]
  'micronesia (federated states of)' =====> ["'Micronesia (Federated States of)' (11)", "' Micronesia (Federated States of) ' (1)"]
  'mongolia'                     =====> ["'Mongolia' (36)", "' Mongolia ' (4)", "' Mongolia' (2)", "'Mongolia ' (1)"]
  'montenegro'                   =====> ["' Montenegro' (1)", "'Montenegro' (7)"]
  'morocco'                      =====> ["'Morocco' (48)", "' Morocco' (3)", "'Morocco ' (5)", "' Morocco ' (3)"]
  'mozambique'                   =====> ["'Mozambique' (103)", "'Mozambique ' (13)", "' Mozambique ' (6)", "' Mozambique' (7)", "'mozambique' (1)"]
  'myanmar'                      =====> ["'Myanmar' (74)", "' Myanmar ' (5)", "'Myanmar ' (7)", "' Myanmar' (4)", "' myanmar ' (1)"]
  'namibia'                      =====> ["' Namibia ' (5)", "'Namibia' (26)", "' Namibia' (1)", "'Namibia ' (2)"]
  'nepal'                        =====> ["'Nepal' (111)", "'Nepal ' (10)", "' nepal ' (1)", "'NEPAL' (2)", "' Nepal ' (6)", "' Nepal' (10)", "'nepal' (4)"]
  'netherlands (kingdom of the)' =====> ["'Netherlands (Kingdom of the)' (30)", "' Netherlands (Kingdom of the) ' (5)", "' Netherlands (Kingdom of the)' (7)", "'Netherlands (Kingdom of the) ' (2)", "'Netherlands (Kingdom Of The)' (1)"]
  'netherlands antilles'         =====> ["' Netherlands Antilles' (1)", "'Netherlands Antilles' (3)"]
  'new caledonia'                =====> ["'NEW CALEDONIA' (1)", "'New Caledonia' (13)", "'New Caledonia ' (2)", "' New Caledonia' (1)"]
  'new zealand'                  =====> ["'New Zealand' (55)", "' New Zealand' (6)", "' New Zealand ' (6)", "'New Zealand ' (6)"]
  'nicaragua'                    =====> ["'Nicaragua' (66)", "' Nicaragua ' (6)", "'Nicaragua ' (5)", "' Nicaragua' (9)", "'nicaragua' (1)", "' NICARAGUA' (1)", "'NICARAGUA' (1)"]
  'niger'                        =====> ["'NIGER' (2)", "'Niger' (77)", "' Niger ' (7)", "' Niger' (9)", "'niger' (2)", "'Niger ' (7)", "' niger' (1)"]

In [51]:
df['Country'] = df['Country'].fillna('').astype(str).str.strip().replace('', np.nan).str.title()
print(df['Country'].value_counts(dropna=False).to_string())

Country
United States                                                  1073
China                                                           854
India                                                           711
Indonesia                                                       560
Philippines                                                     559
Japan                                                           347
Bangladesh                                                      319
Mexico                                                          298
Iran                                                            260
Pakistan                                                        257
Vietnam                                                         256
Colombia                                                        232
Brazil                                                          227
Australia                                                       220
Peru                                                            219
Afghanistan                                                     219
Turkey                                                          206
France                                                          206
Italy                                                           183
Thailand                                                        176
Russian Federation                                              173
Canada                                                          154
Dr Congo                                                        149
Nigeria                                                         144
Nepal                                                           144
Haiti                                                           139
Taiwan                                                          133
Argentina                                                       132
Guatemala                                                       130
Ethiopia                                                        130
Mozambique                                                      130
Sri Lanka                                                       127
South Korea                                                     126
Kenya                                                           126
Chile                                                           123
Spain                                                           121
Tanzania                                                        120
Ecuador                                                         119
South Africa                                                    115
Bolivia                                                         113
Uganda                                                          112
Sudan                                                           110
Malaysia                                                        109
Greece                                                          109
Somalia                                                         107
Madagascar                                                      106
Germany                                                         105
Niger                                                           105
Hong Kong                                                       104
Romania                                                         103
Honduras                                                         98
United Kingdom                                                   97
Myanmar                                                          91
Cuba                                                             91
Algeria                                                          90
Nicaragua                                                        89
Papua New Guinea                                                 88
Dominican Republic                                               87
Malawi                                                           85
Yemen                                                            78
Chine                                                            77
Costa Rica                                                       76
Peoples Republic Of China                                        75
Tajikistan                                                       75
New Zealand                                                      73
El Salvador                                                      72
Angola                                                           71
Inde                                                             70
Belgium                                                          69
Chad                                                             67
Venezuela                                                        67
Indonésie                                                        66
Mali                                                             64
Poland                                                           64
Burundi                                                          64
Panama                                                           63
Switzerland                                                      62
Cameroon                                                         61
Portugal                                                         60
Morocco                                                          59
Burkina Faso                                                     59
Russia                                                           59
Fiji                                                             58
Paraguay                                                         58
Rwanda                                                           57
Zambia                                                           57
Jamaica                                                          57
Zimbabwe                                                         57
Austria                                                          56
Ghana                                                            56
Benin                                                            55
Senegal                                                          55
Vanuatu                                                          53
Bulgaria                                                         52
Phillippines                                                     52
Philipines                                                       50
Laos                                                             49
Phillipines                                                      49
Cambodia                                                         48
Mauritania                                                       48
Etats-Unis                                                       46
North Korea                                                      45
Central African Republic                                         45
Netherlands                                                      45
U.S.A.                                                           45
Serbia                                                           45
Albania                                                          45
Czechia                                                          44
Mongolia                                                         43
Japon                                                            41
Ukraine                                                          40
Bangladesch                                                      39
Uruguay                                                          39
Solomon Islands                                                  38
Guinea                                                           38
Kyrgyzstan                                                       37
Congo                                                            36
Puerto Rico                                                      36
Sierra Leone                                                     36
Croatia                                                          35
Gambia                                                           34
Namibia                                                          34
Hungary                                                          33
Egypt                                                            32
Brasil                                                           31
Iraq                                                             31
Togo                                                             31
Saudi Arabia                                                     30
Côte D’Ivoire                                                    30
Bosnia And Herzegovina                                           30
Bahamas                                                          28
South Sudan                                                      28
Georgia                                                          27
Kazakhstan                                                       27
Bresil                                                           27
Ireland                                                          27
Slovakia                                                         27
Djibouti                                                         26
Tunisia                                                          25
Guinea-Bissau                                                    25
Botswana                                                         25
Lesotho                                                          25
Mauritius                                                        24
Tonga                                                            24
Saint Vincent And The Grenadines                                 24
Comoros                                                          24
Cabo Verde                                                       24
Belize                                                           23
Liberia                                                          22
Saint Lucia                                                      22
Israel                                                           21
Syrian Arab Republic                                             21
North Macedonia                                                  20
Yugoslavia                                                       20
Denmark                                                          19
Réunion                                                          18
Eswatini                                                         18
Oman                                                             18
Jordan                                                           18
Martinique                                                       18
Cyprus                                                           17
Lebanon                                                          17
New Caledonia                                                    17
Guadeloupe                                                       17
Sweden                                                           16
Lithuania                                                        16
Republic Of Moldova                                              16
Norway                                                           16
Gabon                                                            15
Iceland                                                          15
Samoa                                                            15
Azerbaijan                                                       15
Luxembourg                                                       15
Viet  Nam                                                        15
Belarus                                                          15
Slovenia                                                         15
Barbados                                                         15
Trinidad And Tobago                                              14
Dominica                                                         14
Armenia                                                          14
Timor-Leste                                                      13
Bhutan                                                           12
Latvia                                                           12
Micronesia (Federated States Of)                                 12
Guyana                                                           12
Antigua And Barbuda                                              12
Anguilla                                                         11
Guam                                                             11
Cook Islands                                                     10
Grenada                                                          10
Saint Kitts And Nevis                                            10
Uzbekistan                                                       10
State Of Palestine                                                9
Marshall Islands                                                  9
Tuvalu                                                            9
Maldives                                                          8
Montserrat                                                        8
Lao  People'S  Democratic  Republic                               8
Eritrea                                                           8
South  Africa                                                     8
French Polynesia                                                  8
Montenegro                                                        8
United States Virgin Islands                                      7
Seychelles                                                        7
Libya                                                             7
Cayman Islands                                                    7
Turks And Caicos Islands                                          6
Democratic  Republic  Of  The  Congo                              6
Estonia                                                           6
Republic  Of  Korea                                               6
Macau                                                             6
Niue                                                              6
Tokelau                                                           6
Burkina  Faso                                                     6
Finland                                                           5
Suriname                                                          5
American Samoa                                                    5
New  Zealand                                                      5
Bermuda                                                           5
Kiribati                                                          5
Allemagne                                                         5
Palau                                                             5
Sao Tome And Principe                                             4
Wallis And Futuna Islands                                         4
Netherlands Antilles                                              4
Costa  Rica                                                       4
Dominican  Republic                                               4
Papua  New  Guinea                                                4
Northern Mariana Islands                                          4
Singapore                                                         3
North  Macedonia                                                  3
Deutschland                                                       3
British Virgin Islands                                            3
United  Kingdom  Of  Great  Britain  And  Northern  Ireland       3
Côte  D’Ivoire                                                    3
French Guiana                                                     3
United  Republic  Of  Tanzania                                    3
United Arab Emirates                                              3
Cook  Islands                                                     3
Syrian  Arab  Republic                                            3
Venezuela  (Bolivarian  Republic  Of)                             3
Sao  Tome  And  Principe                                          2
El  Salvador                                                      2
Kuwait                                                            2
Malta                                                             2
Soviet  Union                                                     2
China,  Hong  Kong  Special  Administrative  Region               2
Equatorial Guinea                                                 2
Bolivia  (Plurinational  State  Of)                               2
Saint  Vincent  And  The  Grenadines                              2
Turkmenistan                                                      2
Sri  Lanka                                                        2
Puerto  Rico                                                      1
Saint  Kitts  And  Nevis                                          1
Marshall  Islands                                                 1
Republic  Of  Moldova                                             1
Saint Martin (French Part)                                        1
Solomon  Islands                                                  1
Bahrain                                                           1
Liechtenstein                                                     1
Bosnia  And  Herzegovina                                          1
Canary  Islands                                                   1
Serbia  Montenegro                                                1
Qatar                                                             1
Saint Helena                                                      1
Antigua  And  Barbuda                                             1
American  Samoa                                                   1
United  States  Virgin  Islands                                   1
Taiwan  (Province  Of  China)                                     1
Democratic  People'S  Republic  Of  Korea                         1
Brunei Darussalam                                                 1
Saint Barthélemy                                                  1
Mayotte                                                           1
Sint Maarten (Dutch Part)                                         1

In [40]:
detecter_variantes_country(df)

Valeurs brutes uniques  : 289
Groupes avec variantes  : 0

<br>
<br>

#### __*5. Corrigez les variantes de pays (USA → United States, etc.)*__

In [41]:
country_mapping = {
    'Usa': 'United States',
    'Us': 'United States',
    'United States Of America': 'United States',
    'United  States  Of  America': 'United States',
    'Uk': 'United Kingdom',
    'United Kingdom Of Great Britain And Northern Ireland': 'United Kingdom',
    'Iran (Islamic Republic Of)': 'Iran',
    'Iran  (Islamic  Republic  Of)': 'Iran',
    'Bolivia (Plurinational State Of)': 'Bolivia',
    'Venezuela (Bolivarian Republic Of)': 'Venezuela',
    'Russian  Federation': 'Russian Federation',
    'Republic Of Korea': 'South Korea',
    "Democratic People'S Republic Of Korea": 'North Korea',
    'Viet Nam': 'Vietnam',
    'Türkiye': 'Turkey',
    'Netherlands (Kingdom Of The)': 'Netherlands',
    'Taiwan (Province Of China)': 'Taiwan',
    'China, Hong Kong Special Administrative Region': 'Hong Kong',
    'China, Macao Special Administrative Region': 'Macau',
    'United Republic Of Tanzania': 'Tanzania',
    "Lao People'S Democratic Republic": 'Laos',
    'Democratic Republic Of The Congo': 'DR Congo',
    'Germany Federal Republic': 'Germany',
    'German Democratic Republic': 'Germany',
    "People'S Democratic Republic Of Yemen": 'Yemen',
    'Yemen Arab Republic': 'Yemen',
    'Serbia Montenegro': 'Serbia',
    'Soviet Union': 'Russia',
    'Azores Islands': 'Portugal',
    'Canary Islands': 'Spain',
    'Czechoslovakia': 'Czechia',
    'Bengladesh': 'Bangladesh',
    'China, Hong Kong Special Administrative Region': 'Hong Kong'
}


df['Country'] = df['Country'].replace(country_mapping)

In [42]:
print("\nAprès correction :")
print(df['Country'].value_counts().head(10))
print(f"Nombre de pays : {df['Country'].nunique()}")

Après correction :
Country
United States    1073
China             854
India             711
Indonesia         560
Philippines       559
Japan             347
Bangladesh        319
Mexico            298
Iran              260
Pakistan          257
Name: count, dtype: int64
Nombre de pays : 274

<br>
<hr>
<br>


## __**Exercice 7 — Création de colonnes utiles**__

> **Rappel**
>
> ```python
> # Nouvelle colonne calculée
> df['new'] = df['col1'] / df['col2']
>
> # Colonne à partir d'une autre
> df['Decennie'] = (df['Year'] // 10) * 10
>
> # Extraction de date
> df['Annee'] = df['Date'].dt.year
> df['Mois'] = df['Date'].dt.month
> ```

### __*À faire*__

1. Créez une colonne `Decennie` à partir de `Start Year`
2. Créez une colonne `Has_Deaths` (booléen : True si Total Deaths > 0)
3. Vérifiez vos nouvelles colonnes

<br>
<br>

#### __*1. Créez une colonne `Decennie` à partir de `Start Year`*__

In [43]:
df['Decennie'] = (df['Start Year'] // 10) * 10
print(df[['Start Year', 'Decennie']].head())

   Start Year  Decennie
0        2020      2020
1        2008      2000
2        2015      2010
3        2007      2000
4        2008      2000

-   ` df['Start Year'] // 10` : Division entière par 10 (enlève le dernier chiffre)
-   Exemple : `2005 ---> 200`, `1995 ---> 199`
-   `*10` : Multiplie par 10 pour obtenir la décennie
-   Exemple : 200 * 10 = 2000, 199 * 10 = 1990

**Résultat** : Regroupe les années par décennie (`2000-2009, 1990-1999, etc.....`)

<br>
<br>

#### __*2. Créez une colonne `Has_Deaths` (booléen : True si Total Deaths > 0)*__

In [44]:
df['Has_Deaths'] = df['Total Deaths'] > 0
print(df[['Total Deaths', 'Has_Deaths']].head())

   Total Deaths  Has_Deaths
0           1.0        True
1           NaN       False
2           9.0        True
3         182.0        True
4           1.0        True


-   **Résultat** :
-   `True` si Total Deaths > 0 (`il y a eu des décès`)
-   `False` si Total Deaths = 0 (`pas de décès`)

<br>
<br>

#### __*3. Vérifiez vos nouvelles colonnes*__

In [45]:
print(df[['Start Year', 'Decennie', 'Total Deaths', 'Has_Deaths']].head(10))
print("\nData types:")
print(df[['Decennie', 'Has_Deaths']].dtypes)

   Start Year  Decennie  Total Deaths  Has_Deaths
0        2020      2020           1.0        True
1        2008      2000           NaN       False
2        2015      2010           9.0        True
3        2007      2000         182.0        True
4        2008      2000           1.0        True
5        1997      1990          16.0        True
6        1999      1990         325.0        True
7        2004      2000           NaN       False
8        1961      1960         275.0        True
9        1914      1910          34.0        True

Data types:
Decennie      int64
Has_Deaths     bool
dtype: object

<br>
<hr>
<br>

## __**Exercice 8 — Sélection et export**__

> **Rappel**
>
> ```python
> # Sélectionner des colonnes
> df_export = df[['col1', 'col2', 'col3']]
>
> # Renommer
> df_export = df_export.rename(columns={'old': 'new'})
>
> # Export
> df_export.to_csv("fichier.csv", index=False)
> ```

## __*À faire*__

1. Sélectionnez les colonnes utiles pour l'analyse
2. Renommez les colonnes si nécessaire (noms clairs, sans espaces)
3. Faites une vérification finale avec `info()` et `head()`
4. Exportez en CSV : `catnat_clean.csv`

<br>
<br>

#### __*1. Sélectionnez les colonnes utiles pour l'analyse*__

In [46]:
df_export = df[['DisNo.', 'Disaster Type', 'Region', 'Country', 
               'Total Deaths', 'Start Year', 'Event Name', 'Magnitude', 
               'Decennie', 'Has_Deaths']]
df_export.head()

,DisNo.,Disaster Type,Region,Country,Total Deaths,Start Year,Event Name,Magnitude,Decennie,Has_Deaths
0,2020-0121-IDN,Flood,Asia,Indonesia,1.0,2020,NaN,NaN,2020,True
1,2008-0524-USA,Wildfire,Americas,United States,NaN,2008,NaN,NaN,2000,False
2,2015-0281-SLB,Storm,Oceania,Solomon Islands,9.0,2015,Tropical cylone Raquel,NaN,2010,True
3,2007-0274-KHM,Epidemic,Asia,Cambodia,182.0,2007,Dengue,NaN,2000,True
4,2008-0275-JPN,Earthquake,Asia,Japon,1.0,2008,NaN,6.8,2000,True

<br>
<br>

#### __*2. Renommez les colonnes si nécessaire (noms clairs, sans espaces)*__

In [47]:
df_export = df_export.rename(columns={
    'DisNo.': 'ID_Catastrophe',
    'Disaster Type': 'Type_Catastrophe',
    'Start Year': 'Annee_Debut',
    'Event Name': 'Nom_Evenement',
    'Total Deaths': 'Nombre_Deces',
    'Has_Deaths': 'A_Des_Deces',
    'Country': 'Pays'
})

<br>
<br>

#### __*3. Faites une vérification finale avec `info()` et `head()`*__

In [48]:
print("Informations sur le dataset :")
df_export.info()

print("\n\n\nPremiers enregistrements :")
df_export.head()

Informations sur le dataset :
<class 'pandas.DataFrame'>
Index: 17014 entries, 0 to 17509
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID_Catastrophe    17014 non-null  str
 1   Type_Catastrophe  17014 non-null  str
 2   Region            17014 non-null  str
 3   Pays              17014 non-null  str
 4   Nombre_Deces      12175 non-null  float64
 5   Annee_Debut       17014 non-null  int64
 6   Nom_Evenement     3875 non-null   str
 7   Magnitude         1721 non-null   float64
 8   Decennie          17014 non-null  int64
 9   A_Des_Deces       17014 non-null  bool
dtypes: bool(1), float64(2), int64(2), str(5)
memory usage: 1.3 MB



Premiers enregistrements :

,ID_Catastrophe,Type_Catastrophe,Region,Pays,Nombre_Deces,Annee_Debut,Nom_Evenement,Magnitude,Decennie,A_Des_Deces
0,2020-0121-IDN,Flood,Asia,Indonesia,1.0,2020,NaN,NaN,2020,True
1,2008-0524-USA,Wildfire,Americas,United States,NaN,2008,NaN,NaN,2000,False
2,2015-0281-SLB,Storm,Oceania,Solomon Islands,9.0,2015,Tropical cylone Raquel,NaN,2010,True
3,2007-0274-KHM,Epidemic,Asia,Cambodia,182.0,2007,Dengue,NaN,2000,True
4,2008-0275-JPN,Earthquake,Asia,Japon,1.0,2008,NaN,6.8,2000,True

<br>
<br>

#### __*4. Exportez en CSV : `catnat_clean.csv`*__

In [49]:
output_path = "data/processed/catnat_clean_5.0.csv"

df_export.to_csv(output_path, index=False)
print(f"\nFichier '{output_path}' exporté avec succès !")

Fichier 'data/processed/catnat_clean_5.0.csv' exporté avec succès !

<br>
<hr>
<br>


## __**Exercice 9 — Vérification dans Tableau**__

<br>

### **Tableau Public :**
https://public.tableau.com/app/profile/jeathusan.kugathas/viz/NettoyageetAnalyse-DonnesdeCatastrophes/Localisationgographiquedescatastrophes


<br>
<br>

## __*À faire*__

1. Ouvrez Tableau Public
2. Connectez-vous au fichier `catnat_clean.csv`
3. Vérifiez dans l'écran "Source de données" :
   - Les types sont-ils corrects ? (# pour nombres, Abc pour texte)
   - Les nombres sont-ils bien reconnus ?
4. Créez un bar chart : `Type_Catastrophe` vs `COUNT(ID_Catastrophe)`
   - Les catégories sont-elles propres ? (pas de doublons)
5. Créez un bar chart : `Region` vs `SUM(Deces)`
   - Les 5 régions sont-elles bien distinctes ?
6. Créez une carte avec `Country`
   - Les pays sont-ils reconnus ?